@import "../../../scss/utils/mixin";

.navBar {
  margin-top: 20px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.navBar_list {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navBar_listItem {
  padding: 6px;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #fbd784;
  border-radius: 4px;
  margin-top: 10px;
  transition: color 300ms ease-in-out;
  &:not(:first-child) {
    margin-left: 10px;
  }
  @include mq(tablet) {
    margin-top: 0;
  }
  &:hover,&:focus{
    cursor: pointer;
color: #fbd784;
  }
}
