@import "../../../scss/utils/mixin";
.footer {
  background-color: #0b1d26;
  padding-top: 40px;
  padding-bottom: 40px;
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.footer_heading {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  @include mq(tablet) {
    font-size: 32px;
  }
}
.footer_text {
  font-size: 14px;
  font-weight: 500;
  margin-top: 24px;
  @include mq(tablet) {
    font-size: 16px;
    width: 303px;
  }
  @include mq(tablet) {
    font-size: 18px;
    font-weight: 600;
  }
}

.listWrapper {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  @include mq(desktop) {
    width: 466px;
  }
}
.title {
  color: #fbd784;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  @include mq(tablet) {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
  }
  @include mq(desktop) {
    // margin-top: 0;
    font-size: 24px;
  }
}

.list {
  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 24px;
  }
}
.list_item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  @include mq(tablet) {
    font-size: 16px;
  }
  @include mq(desktop) {
    font-size: 18px;
    font-weight: 700;
  }
}
.list_link {
  transition: color 300ms ease-in-out;
  &:hover,
  &:focus {
    color: #fbd784;
    cursor: pointer;
  }
}

.textTerm {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 500;
  margin-top: 40px;
  @include mq(tablet) {
    margin: 0;
    // position: absolute;
    // bottom: 46px;
    font-size: 14px;
    // margin-top: 20px;
    display: flex;
    align-items: flex-end;
  }
  @include mq(desktop) {
    font-size: 18px;
    // bottom: 126px;
  }
}
