@import "../../../scss/utils/mixin";

.nav {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @include mq(tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.nav_item {
  font-size: 18px;
  font-weight: 700;
    &:not(:first-child){
      margin-left: 10px; 
        }
  @include mq(tablet) {
    &:not(:first-child){
      margin-left: 0; 
        }
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.nav_link {
  transition: color 300ms linear;
  &:hover,&:focus{
    cursor: pointer;
    color: #fbd784;
  }
  @include mq(tablet){
    &::after {
    content: "";
    position: absolute;
    bottom: 6%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fbd784;
    transform: translateY(100%) scaleX(0);
    transition: transform 300ms linear;
  }
  &:hover::after,
  &:focus::after {
    cursor: pointer;
    transform: translateY(100%) scaleX(1);
  }
  }
}
