@import "../../../scss/utils/mixin";

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  @include mq(tablet) {
    padding-top: 64px;
  }
}
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: all 300ms ease-in-out;
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
    color: #fbd784;
  }
  @include mq(tablet) {
    font-size: 32px;
    font-weight: 700;
  }
}

.navWrapper {
  visibility: hidden;
  @include mq(tablet) {
    visibility: visible;
  }
}

.navigation {
  background-color: rgba(11, 29, 38, 0.8);
  width: 100%;
  height: auto;
  position: absolute;
  top: 90px;
  right: 40px;
  border-radius: 4px;
  z-index: 20;
  @include mq(tablet) {
    visibility: hidden;
  }
}

.btn {
  padding: 0;
  border: transparent;
  display: inline-flex;
  background-color: transparent;
  align-items: center;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  fill: #fff;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 10px;
  @include mq(tablet) {
    position: static;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    color: #fbd784;
    fill: #fbd784;
  }
}
.btn_text {
  margin-left: 5px;
}
.btn_menu {
  background-color: transparent;
  border-color: transparent;
  fill: #fff;
  position: absolute;
  top: 90px;
  right: 10px;
  &:hover,
  &:focus {
    cursor: pointer;
    fill: #fbd784;
  }
  @include mq(tablet) {
    visibility: hidden;
  }
}
