@import "../../../scss/utils/mixin";

.heroSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 86px;
  @include mq(tablet) {
    padding-top: 200px;
    flex-wrap: nowrap;
    padding-bottom: 200px;
  }
  @include mq(desktop) {
    padding-bottom: 700px;
  }
}
.navLink {
  display: flex;
  @include mq(tablet) {
    align-items: center;
    flex-direction: column;
  }
}
.navLink_text {
  font-weight: 700;
  font-size: 16px;
  @include mq(tablet) {
    writing-mode: vertical-lr;
    font-size: 18px;
  }
}
.list {
  display: flex;
  @include mq(tablet) {
    display: block;
  }
}
.list_item {
  margin-left: 24px;
  @include mq(tablet) {
    margin-left: 0;
    margin-top: 24px;
  }
}
.list_link {
  fill: #fff;
  transition: all 300ms ease-in-out;
  &:hover,
  &:focus {
    cursor: pointer;
    fill: #fbd784;
    color: #fbd784;
  }
}
.textContainer {
  display: flex;
  flex-direction: column;

  @include mq(tablet) {
    margin-left: 40px;
  }
  @include mq(desktop) {
    width: 950px;
  }
}
.accentTitle {
  position: relative;
  color: #fbd784;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 90px;
  margin-top: 24px;
  &::before {
    position: absolute;
    top: 8px;
    left: 0px;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #fbd784;
  }
  @include mq(tablet) {
    margin-top: 0;
    font-size: 18px;
  }
}
.heading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
  text-transform: capitalize;
  @include mq(tablet) {
    font-size: 60px;
  }
  @include mq(desktop) {
    font-size: 88px;
  }
}
.listScroll {
  display: flex;
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.listScroll_item {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
  &::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 22px;
    right: 0;
    &:hover::after {
      background-color: rgba(255, 255, 255, 1);
    }
  }
  @include mq(tablet) {
    padding-left: 0;
    font-size: 18px;
    padding-top: 40px;
    &::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 60.7px;
      top: 22px;
      right: -22px;
    }
  }
}
.scrollDown {
  visibility: hidden;
  @include mq(tablet) {
    margin-top: 32px;
    visibility: visible;
    display: flex;
  }
}
.icon {
  margin-left: 20px;
}
.textScroll {
  font-weight: 700;
  font-size: 18px;
}
