@import "../../scss/utils/mixin";
.container {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px;
  @include mq(mobile){
    width: 320px;
  }
  @include mq(tablet) {
    width: 768px;
    padding: 64px 32px;
  }
  @include mq(desktop) {
    width: 1280px;
    padding: 64px 40px;
  }
}
