@import "../../../scss/utils/mixin";

.gallerySection {
  background-color: #0b1d26;
  width: 320px;
  margin: 0 auto;
  @include mq(tablet) {
    width: 768px;
  }
  @include mq(desktop) {
    width: 1280px;
  }
}
.list {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 200px;
    }
  }
}
.article {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-top: 50px;
  padding-left: 50px;
  @include mq(tablet) {
    padding-top: 80px;
    padding-left: 80px;
    width: 400px;
  }
  @include mq(desktop) {
    padding-top: 140px;
    padding-left: 150px;
    width: 600px;
  }
}
.article_background {
  font-size: 120px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  @include mq(tablet) {
    font-size: 160px;
    font-weight: 700;
  }
  @include mq(desktop) {
    font-size: 240px;
  }
}
.article_text {
  padding-left: 60px;
  color: #fbd784;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 2px;
    z-index: 10;
    top: 10px;
    left: 0;
    background-color: #fbd784;
  }
  @include mq(tablet) {
    font-size: 16px;
    &::before {
      width: 42px;
    }
  }
  @include mq(desktop) {
    padding-left: 90px;
    font-size: 18px;
    &::before {
      width: 72px;
    }
  }
}
.article_heading {
  font-size: 36px;
  font-weight: 600;
  margin-top: 27px;
  @include mq(tablet) {
    font-size: 36px;
  }
  @include mq(desktop) {
    font-size: 64px;
  }
}
.article_mainContent {
  font-size: 18px;
  font-weight: 500;
  margin-top: 27px;
  @include mq(tablet) {
    margin-right: 20px;
  }
  @include mq(desktop) {
    font-weight: 700;
    margin-right: 0;
  }
}
.article_btn {
  color: #fbd784;
  background-color: transparent;
  font-size: 18px;
  border: none;
  position: relative;
  margin-top: 27px;
  padding-right: 50px;
  transition: all 300ms ease-in-out;

  &::after {
    content: url("../../images/arrow.svg");
    position: absolute;
    top: 4px;
    right: 0;
  }
  &:hover,
  &:focus,
  &:hover::after {
    cursor: pointer;
    color: #fff;
  }
}
.article_img {
  display: block;
  object-fit: contain;
  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 0;
  }
}
