@import "../../../../scss/utils/mixin";
.equipmentSection {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mainInfo {
  grid-area: header;
  @include mq(tablet) {
    font-size: 18px;
    line-height: 1.33;
  }
}
.gridWrapper {
  margin-top: 40px;
  @include mq(tablet) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px auto;
    grid-template-areas:
      "....... header header"
      "sidebar content content";
  }
}

.sidebar {
  grid-area: sidebar;
}

.sidebar_listItem {
  margin-top: 10px;
  &:hover {
    cursor: pointer;
    color: #fbd784;
  }
}
.content {
  grid-area: content;
  margin-top: 40px;
  @include mq(tablet) {
    margin-top: 0;
  }
}
.contentListItem {
  &:not(:first-child) {
    margin-top: 10px;
  }
  @include mq(tablet) {
    line-height: 1.33;
    font-size: 18px;
  }
}
.contentList_img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.imgList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}
.imgList_item {
  &:not(:first-child) {
    margin-top: 10px;
  }

  @include mq(desktop) {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}
.contentList_imgList {
  height: 400px;
}

.quoteContainer {
  margin-top: 80px;
  text-align: center;
  @include mq(tablet) {
    font-size: 20px;
  }
}
.quoteText {
  font-style: italic;
}
.quoteAuthor {
  position: relative;
  &::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -28px;
  }
  &::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: -28px;
  }
}
.btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.btn_icon {
  fill: #fff;
  transition: all 300ms ease-in-out;
  &:hover,
  &:focus {
    cursor: pointer;
    fill: #fbd784;
  }
}
